footer {
  background-color: #ed5311;
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer nav {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  width: 100%;
}

footer nav button {
  background-color: #f79443;
  border: none;
  height: 50px;
  width: 50px;
}
