* {
  box-sizing: border-box;
}

.recomendation-wrapper {
  margin: auto;
  margin-top: 30px;
  width: 80vw;
}

.recomendation-card-container {
  -webkit-overflow-scrolling: touch;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.recomendation-card {
  flex: none;
  height: 100%;
  width: 60%;
  scroll-snap-align: start;
}

.recomendation-card  img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.btn-container {
  align-items: center;
  display: flex;
}

.btn-container button {
  bottom: 0;
  padding: 30px , 10px;
  position: fixed;
  text-align: center;
  width: 10%;
}
