.cardExibtion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 80px;
}

.recipeCard {
  align-items: center;
  background-color: rgba(151, 149, 149, 0.205);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 172px;
  left: 11px;
  margin-top: 15px;
  top: 171px;
  width: 161px;
}

.recipeCard img {
  border-radius: 5px;
  height: 70%;
  padding-top: 5px;
  width: 80%;
}
